body {
    margin: 0;
    padding: 0;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: left 0.3s ease-in-out;
}

#content {
    margin-left: 20%;
    padding: 20px;
}

.hide {
    left: -20%;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}
